<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar animated="true" show-clear-button="focus" [formControl]="query" ngDefaultControl></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none">
    @if (searchResults()) {
      <ion-item button detail="true" detailIcon="play-circle" (click)="state().playing ? pause() : play(searchResults()!)">
        <ion-label>{{ searchResults()!.title }}</ion-label>
      </ion-item>
    }
  </ion-list>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
