swiper-container {
    width: 100%;
    height: 100%;
}

.section-header {
    margin-inline: 20px;
    font-family: 'Spotify';
    font-weight: bold;
    color: #fff;
}

.title {
    font-family: 'Spotify';
    font-size: small;
    color: #fff;
}